{% extends "::base.html.twig" %}

{% block title %}404 Not Found - A Nolimits Coaster 2 Community{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-page">
                <div class="panel-heading">
                    <h1>Oops! An Error Occurred</h1>
                </div>
                <div class="panel-body">
                    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

                    <p>
                        Something is broken. Please let us know what you were doing when this error occurred.
                        We will fix it as soon as possible. Sorry for any inconvenience caused.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

