{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-page">
                <div class="panel-heading">
                    <h1>Thank You</h1>
                </div>
                <div class="panel-body">
                    <p>Your email has been sent and will be with us shortly. We'll respond as soon as possible.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Sent - Nolimits Exchange
{% endblock %}

