{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Check Email - Nolimits Exchange{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-page">
                <div class="panel-heading">
                    <h1>Check Email</h1>
                </div>
                <div class="panel-body">
                    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
