{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-page">
            <div class="panel-heading">
                <h1>Confirmed</h1>
            </div>
            <div class="panel-body">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                {% if targetUrl %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
