{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-page">
                <div class="panel-heading">
                    <h1>Forgotten password</h1>
                </div>
                <div class="panel-body">
                    <p>{{ 'resetting.password_already_requested'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
