.panel {
  border: 0;
}

.panel-heading {
  @include gradient-vertical(#9E0D1A, #640B11);
  border-top: 1px solid #C91625;
  border-right: 1px solid #820E17;
  border-left: 1px solid #820E17;
  border-bottom: 1px solid #961119;

  h1, h2, h3, h4, h5, h6 {
    font-size: $font-size-h4;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
  }
}

.panel-search {
  .panel-body {
    background: none !important;
    padding: 0 !important;
    .table {
      margin-bottom: 0;
    }
  }
}

.panel-home {
  margin-bottom: 10px;
  .panel-heading {
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .panel-body {
    .screenshot {
      img {
        width: 100%;
      }
    }
    .table-coasters {
      margin-bottom: 0;
    }
  }
}

.panel-page {
  .panel-heading {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
  .panel-body {
    background: #33322E;
    border-top: 1px solid #57554F;
    padding: 2em;
  }
}
