{
  "CUSTOM": {
    "COOKIE_SALT": "change-me",
    "EMAIL_HOST": "localhost",
    "EMAIL_PASS": "",
    "EMAIL_PORT": "1025",
    "EMAIL_USER": "",
    "FORMER_BUCKET": "",
    "FORMER_KEY": "",
    "FORMER_SECRET": "",
    "FORMER_REGION": "us-east-1"
  },
  "MYSQL": {
    "DATABASE": "nolimits",
    "HOST": "db",
    "PASSWORD": "nolimits",
    "PORT": "3306",
    "USER": "nolimits"
  },
  "OBJECT_STORAGE": {
    "BUCKET": "nle-production",
    "HOST": "nle-production.objects.frb.io",
    "KEY": "nle-production",
    "REGION": "eu-west-1",
    "SECRET": "",
    "SERVER": "objects.eu2.frbit.com"
  }
}
